{% extends "base.twig" %}
{% block description %}All posts{% endblock %}
{% block content %}
<grid>
{% for item in fetch("Post") if item.Publish == 'true'%}
	<div col="1/2">
		<card>
			<h5>{{item.Title}} <tag style="float:right; text-transform: none;">{{item.Date}}</tag></h5>
			 
{#      <a href="post/{{item.Slug}}" > <img height="285" src="img/{{item.Image}}"> </a>  #}
        <div class="container_img"> 
          <a href="post/{{item.Slug}}" class="element_img" style="{% if item.Image %}background-image:url('img/{{item.Image}}'){% endif %}"> 
          </a>
        </div>
      
			<div class="short_text">{{item.Short}}
        <div class="filter"></div>
      </div>
      <a btn primary href="post/{{item.Slug}}" >Read more...</a>
		</card>
	</div>
{% endfor %}
</grid>

<style>
.filter {
  position:absolute; 
  bottom:0; 
  right:0; 
  left:0; 
  height:2em; 
  background:linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
.short_text {
  position:relative;
  height: 5em;
  overflow: hidden;
  margin-bottom: 1rem;
}
.container_img {
    display: inline-block;
    position: relative;
    width: 100%;
}
.container_img:after {
    content: '';
    display: block;
    margin-top: 56.25%; /* 16:9 Aspect Ratio */
}
.element_img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;    
}

</style>

{% endblock %}
